
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>ADD PRODUCT</title>
</head>
<body>
  {% if user.is_active and user.is_superuser %}
  <div class="collapse" id="navbarToggleExternalContent" style="font-size: 22px;">
      <div class="text-white bg-dark" >  
          <ul class="nav " >    
              {% for i in category %}
          <li class="nav-item ">
            <a class="nav-link text-white" href="#"  >{{i.name}}</a>
          </li>     
          {%endfor%}
        </ul>
       
    </div>
   </div>
   
    <nav class="navbar navbar-dark bg-dark ">
      <div class="container-fluid">
          <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-outline-primary btn-sm" href="{%url 'categorypage'%}" data-abc="true">Home</a>
            {% if user.is_authenticated %}
            {% if user.is_active and user.is_superuser %}
            
            <a class="btn btn-outline-primary btn-sm" href="{%url 'addcategory'%}" data-abc="true">Add Category</a>
            <a class="btn btn-outline-primary btn-sm" href="{%url 'addproduct'%}" data-abc="true">Add Product</a>
            
            <a class="btn btn-outline-primary btn-sm" href="{%url 'all_cart'%}" data-abc="true">View All users Cart</a>
            <a class="btn btn-outline-primary btn-sm" href="{%url 'all_bill'%}" data-abc="true">View All users Bills</a>
            {%endif%}
            {%endif%}

          <div style="color: white;" class="nav justify-content-end">
          <a href="{%url 'showcart'%}"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg></a>
              
              {% if user.is_authenticated %}
              <div><a class="btn btn-outline-primary btn-sm" href="{%url 'my_bill'%}" data-abc="true">My Bills</a></div>
              <div>
                  <button class="btn btn-secondary " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Hi {{request.user.first_name}}
                  </button>
              </div>
              <div >
                 
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    
                    <li><a class="dropdown-item" href="#">My Orders</a></li>
                  </ul>
                  
                  <a href="{%url 'signout'%}" style="color: white;" onMouseOver="this.style.color='red'"onMouseOut="this.style.color='white'">Loguot</a>
                  {% else %}
                  <a href="{%url 'c-signup'%}" style="color: white;" onMouseOver="this.style.color='red'"onMouseOut="this.style.color='white'">signup</a>/
                  <a href="{%url 'c-signin'%}" style="color: white;" onMouseOver="this.style.color='red'"onMouseOut="this.style.color='white'">Login</a>
                </div>
                {% endif %}
              
          </div>
      </div>
      
  </nav>

      <h4 style="margin-top: 1%;margin-bottom: 1%;">Kindly Add Your Product</h4>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <table class='table table-bordered'>                    
        {{form.as_table}}
        </table>
        <input type="submit" value="Add product">
    </form>
    
    {% else %}
    <h2>Unauthorize Person</h2>
    {% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>



